.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}

.main>img{
    width: 200px;
    height: 200px;    
}

.main>h1{
    padding: 10px;
}



.main>p{
    width: 330px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
}

.main>button{
    background-color: transparent;
    border: none;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 500;
}

.main > button:hover{
    transform: scale(1.2);
}